.popup__error-message {
    display: block;
    color: red;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
}

.popup__error-message_type_inactive {
    opacity: 0;
}

.popup__error-message_type_active {
    opacity: 1;
}