.cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
    visibility: hidden;
    z-index: 2;
    flex-direction: column;
}

/* .cover_clicked {
    opacity: 1;
    visibility: visible;
} */

