.profile__info {
    display: flex;
    flex-direction: column;
    width: 425px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile__info {
    width: 282px;
    margin-left: 0;
    }
}