@font-face {
    font-family: "Inter";
    src: url("../styles/fonts/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../../blocks/styles/fonts/static/Inter-Bold.ttf");
}

.page {
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    max-width: 880px;
}

body {
    background-color: black;
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 320px;
        padding: 0;
    }
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}