.popup__close-button, .cover__close-button {
    position: absolute;
    right: -35px;
    top: -35px;
    cursor: pointer;

}

.popup__close-button:hover, .cover__close:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .popup__close-button {
        top: -40px;
        right: 0px;
        height: 26px;
    }
}