.cover__close-button {
        position: absolute;
        right: -35px;
        top: -35px;
        cursor: pointer;
    
    }
    
    .cover__close-button img {
        height: 100%;
        width: 100%;
    }
    
    .cover__close-button:hover {
        opacity: 0.8;
    }
    
    @media screen and (max-width: 768px) {
        .cover__close-button {
            top: -40px;
            right: 0px;
            height: 26px;
        }
    }
