.popup__input {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    border: none;
    border-bottom: 1px lightgray solid;
    padding-bottom: 13px;
    margin-bottom: 7px;
}

.popup__input_error_invalid {
    border-bottom: red solid;
}
