.card__like {
    background-color: white;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    background-image: url("/src/images/like.svg");
    height: 25px;
    min-width: 25px;
}

.card__like:hover {
    opacity: 0.6;
}

.card__like_active {
    background-image: url("/src/images/blackheart.png");
    overflow: hidden;
    align-items: center;
    opacity: none;
}

.card__like__counter #card-like-counter{
    font-size: 14px;
    line-height: 17px;
    align-self: auto;
    color: black;
}