.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
    display: flex;
    visibility: hidden;
    z-index: 3;
}

.popup_open {
    opacity: 1;
    visibility: visible;
}